@charset "UTF-8";
#footer {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 9px;
	text-align: center;
	color: #6A6A6A;
	margin-bottom: 35px;
}
