@charset "UTF-8";
/* CSS Document */
#gallery{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
		"image1 image2 image3"
		"image4 image5 image6"
		"image7 image8 image9"
		"image10 image11 image12";
}
#gallery .gallery{
	height: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #4D4D4D;
	background-color: #2f2f2f;
}



/* Effect on Thumbnail Images*/
.image {
	border-radius: 5%;
}

.image {
	transition: transform .2s; /* Zoom Animation */
}
.image:hover {
	transform: scale(1.1); /* 110% zoom */
}